<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <table>
        {% for i in range(0, row): %}
            <tr>
                {% for x in range(0, col): %}
                    {% if (x+i) % 2 == 0 %}
                        <td class = 'color1' style ="background-color: {{color_a}};"></td>
                    {% else %}
                        <td class = 'color2' style = "background-color: {{color_b}};"></td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>   
</body>
</html>